{% extends 'base.html.twig.' %}
{% block title %}About FRT{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="md-title text-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;box-sizing: border-box;
    font-weight: 500;vertical-align: baseline;
    background: transparent;
    font-family: inherit;
    text-align: center;text-transform: uppercase;
    color: #3a3f53;
    line-height: 1;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 42px;">
            <b>About FRT</b></h2>

        <div class="about-item" style="    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    margin-bottom: 80px;">
            <div class="row">

                <h3 class="md-title text-center wow fadeInUp">General introduction</h3>
                <div class="s-content">FPT Digital Retail Joint Stock Company (referred to as FPT Retail) was established in 2012 in Vietnam, is an affiliate company of FPT Corporation, owns 2 retail chains, FPT Shop and F.Studio. By FPT and a subsidiary company, FPT Long Chau Pharmaceutical Joint Stock Company.
                    <div class="s-content">&nbsp; &nbsp;</div>

                    Retail system FPT Shop is a retail chain of mobile digital products including mobile phones, tablets, laptops, accessories and technology services... FPT Shop is the first retail system in Vietnam. Vietnam was granted the ISO 9001:2000 certificate of quality management according to international standards. Currently, FPT Shop is the second largest retail chain in the technology retail market.

                </div>
                <div class="s-content">&nbsp; &nbsp;</div>
                <div class="s-content">For more information, please visit <a href="https://frt.vn/gioi-thieu/" target="_blank" rel="noopener noreferrer">https://frt.vn/gioi-thieu/</a><insert link="" to="" local="" shopee="" site=""></insert></div>

            </div>
        </div>

        <div class="about-item" style="    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    margin-bottom: 80px;">
            <div class="row">

                <h3 class="md-title text-center wow fadeInUp">Strategic vision</h3>
                <div class="s-content">Along with the development of society and the technology market, FPT Digital Retail Joint Stock Company has been and will make continuous efforts to become a reputable partner for leading digital manufacturers. leading in the world, and at the same time a reliable destination for Vietnamese customers.

                </div>
            </div>
        </div>
        <div class="about-item" style="    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    margin-bottom: 80px;">
            <div class="row">

                <h3 class="md-title text-center wow fadeInUp">Mission</h3>
                <div class="s-content">With the goal of expanding store coverage nationwide, FPT Digital Retail Joint Stock Company aims to become the leading retail system of Digital Telecommunication products in Vietnam. Along with its growing scale, FPT Shop will provide all classes of customers with positive shopping experiences, through high-quality genuine Digital products, competitive prices and customer care services. Friendly customer care, guaranteed by the reputation of the business.</div>



            </div>
        </div>
    </div>
    </div>
{% endblock %}