{% extends 'base.html.twig.' %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="container"
         style=" color: black; font-family: 'Times New Roman', Times, serif;">

        <img style="width: 100%" src="{{ asset('images/intruc fpt.png') }}" class="img-fluid banner-img"
             alt="img-banner">

        <div style="height: 400px; padding-top: 30px">
            <div class="container">
                <div class="text-center" style="padding-left: 5px">

                    <p>

                        FPT Digital Retail Joint Stock Company (referred to as FPT Retail) is an associate company of
                        FPT Vietnam Group, established on March 8, 2012 with two main brands, FPT Shop and F. Studio By
                        FPT – Apple's official authorized dealer in Vietnam at the highest level.

                        After 10 years of operation, with tireless efforts, FPT Retail has developed a nationwide chain
                        of stores in 63 provinces and cities, building the trust of customers as the No. 1 in laptop
                        market share in Vietnam, 2nd in phone market share and the leading genuine Apple retailer in
                        Vietnam with a full range of store standards from the highest level.


                    </p>
                    <button class="btn btn-primary" style="font-weight: bold" onclick="document.location='http://localhost:8000/about'">Find out more about RPT</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}