{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}
{% block body %}
    <div class="container">
        <div class="container-md pt-10">
            <div class="row">


                <div class="container">
                    <div class="row row-cols-1 row-cols-md-2 g-5 pt-5">
                        {% for product in products %}
                            <div class="col">
                                <div class="card h-100" >
                                    <img class="card-img-top"
                                         src="{{ asset(product.image) }}"  alt="Card image">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p>Price: {{ product.price }}</p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="{{ path('app_product_show', {'id': product.id}) }}"
                                           class="btn btn-danger">Show</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
