<footer class="footer container" style="border-top: 1px solid #e2e2e2">
    <section class="clearfix footer__top" style="    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    box-sizing: border-box;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    min-width: 980px;
    position: relative;
    display: block;
    padding: 15px 0 5px;">
        <div class="footer__col" style="    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
    width: 33%;">
            <div>
                <a target="_blank" rel="nofollow noopener" href="http://frt.vn/">Introduce about the company</a><br>
                <a target="_blank" rel="nofollow noopener" href="//fptshop.com.vn/ho-tro/cau-hoi-thuong-gap" title="Câu hỏi thường gặp mua hàng">Purchase FAQ</a><br>
                <a target="_blank" rel="nofollow noopener" href="//fptshop.com.vn/ho-tro/chinh-sach-bao-mat" title="">Privacy Policy</a><br>
                <a target="_blank" rel="nofollow noopener" href="//fptshop.com.vn/tos" title="">Operational Regulations</a><br>
                <a target="_blank" rel="nofollow noopener" href="http://hddt.fptshop.com.vn/" title="">Check e-invoice</a><br>
                <a target="_blank" rel="nofollow noopener" href="//fptshop.com.vn/kiem-tra-bao-hanh?tab=thong-tin-bao-hanh" title="">Look up warranty information</a><br>
            </div>
        </div>
        <div class="footer__col" style="    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
    width: 33%;">
            <div>
                <a target="_blank" rel="nofollow noopener" href="//vieclam.fptshop.com.vn/">Recruitment</a><br>
                <a target="_blank" rel="nofollow noopener" href="//fptshop.com.vn/tin-tuc/Tin-khuyen-mai" title="">Promotion information</a><br>
                <a target="_blank" rel="nofollow noopener" href="//fptshop.com.vn/ho-tro/huong-dan-mua-hang" title="">Guide to buying online</a><br>
                <a target="_blank" rel="nofollow noopener" href="https://fptshop.com.vn/ho-tro/chinh-sach-tra-gop" title="">Installment Policy</a><br>
                <a target="_blank" rel="nofollow noopener"  href="//fptshop.com.vn/tra-gop" title="">Installment purchase guide</a><br>

            </div>
        </div>
        <div class="footer__col"style="    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
    width: 33%;">
            <div>
                <a>Buying advice (Free)</a><br>
                <a href="tel:18006601" title="">1800 6601 </a>
                <span>(Branch 1)</span>
                <br>
                <br>
                <a>Technical assistance</a><br>
                <a href="tel:18006601" title="">1800 6601 </a>
                <span>(Branch 2)</span>
            </div>
        </div>

    </section>

</footer>