<div class="container-{breakpoint}  " style="background: linear-gradient(-180deg,#cd1818,#cd1818);">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{{ path('app_product_index') }}"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="card-img-top" src="{{ asset('images/logo fpt shop.png') }}" alt="Symfony!"
                 style="width: 100%;"/>
        </a>

        <div>
            <ul class="nav nav-pills nav-fill">


                {% if app.request.get('_route') == 'app_product_index' %}
                    <li class="nav-item"><a style="color: white;" href="{{ path('app_product_index') }}"
                                            class="nav-link active"><i class="fa fa-laptop"></i> Products</a></li>
                {% else %}
                    <li class="nav-item"><a style="color: white;" href="{{ path('app_product_index') }}"
                                            class="nav-link"><i class="fa fa-laptop"></i> Products</a></li>

        {% endif %}

        </div>
    </header>


</div>
